*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

main {
    width: 90%;
    padding: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


